<div class="site-point-wrapper">
  <div class="site-points">
    <div class="point-image">
      <%= image_tag 'top_page_review.jpg', class: "review-image"%>
    </div>
    <div class="point-detail">
      <div class="point-detail-in">
        <h3 class="title">みんなのリアルなレビュー</h3>
        <p class="sub-title">Real Review</p>
        <p class="description">みんなが実際に使ってみてのリアルなレビューが集まっているため、購入に際してのヒントを得られます。</p>
        <p class="link-button">
          <a href="/reviews" class="link">レビュー一覧はこちら</a>
        </p>
      </div>
    </div>
  </div>
  <div class="site-points">
    <div class="point-image2">
      <%= image_tag 'skin_test.jpg', class: "review-image"%>
    </div>
    <div class="point-detail2">
      <div class="point-detail-in">
        <h3 class="title">肌質診断テスト</h3>
        <p class="sub-title">Skin Type Test</p>
        <p class="description">簡単な質問に答えるだけで、自分の肌質を教えてくれるテスト機能を本サイトでは搭載しております。</p>
        <p class="link-button">
          <a href="/question" class="link">肌質診断テストはこちら</a>
        </p>
      </div>
    </div>
  </div>
</div>