<div class="container mb-4 site-description">
  <h2 class="site-mind">「自分の肌質に合った」化粧品を使うことが大切です。</h2>
  <p class="site-introduction">当サイト「Skinual」は、「なかなか自分の肌合った化粧品に出会えていない..」このような悩みを解決すべく作成しました。<br>
    みなさんが今まで使ってきた中で良いと思った化粧品のレビューを書いていただき、みんなで作り上げるサイトにしていきたいと思っております。</p>
</div>
<div class="top-list">
  <ul class="list">
    <li class="item">
      <a href="/question" class="link">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'checklist.jpg' %>
          </div>
          <div class="card-title">肌質診断テスト</div>
          <div class="card-text">Diagnostic Test</div>
        </div>
      </a>
    </li>
    <li class="item">
      <a href="/reviews" class="link">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'review_index.jpg' %>
          </div>
          <div class="card-title">レビュー一覧</div>
          <div class="card-text">Review List</div>
        </div>
      </a>
    </li>
    <li class="item">
      <a href="reviews/new" class="link">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'review_new'%>
          </div>
          <div class="card-title">レビュー投稿</div>
          <div class="card-text">Review Post</div>
        </div>
      </a>
    </li>
  </ul>
</div>