<main>
  <div class="answer">
    <h2 class="answer__title"></h2>
		<p class="answer__txt"></p>
		<p class="answer__cause"></p>
		<a class="answer__link">
		  <p>あなたにおすすめの化粧品はコチラ！</p>
		</a>
		<div class="back">
		  <a href="/question">
			  <p>>>もう一度診断する</p>
			</a>
	  </div>
  </div>
</main>