<div class="swiper-container">
  <%= render partial: 'slider' %>
</div>
<div class="top-main">
  <%= render 'top_list'%>
</div>
<section class="site-point-section">
  <%= render 'site_points' %>
</section>
<%= render "/layouts/footer" %>

