<% breadcrumb :question %>
<%= breadcrumbs separator: " &rsaquo; " %>  
<main>
	<ul class="questions">
	  <li>
			<h2>毛穴の開きやベタつきなどが気になる</h2>
		</li>
		<li>
			<h2>ニキビ等の肌トラブルが起きやすい</h2>
		</li>
		<li>
			<h2>どちらかといえば乾燥気味の肌だと思う</h2>
		</li>
		<li>
			<h2>Tゾーンや頬の毛穴の開きが気になる</h2>
		</li>
		<li>
			<h2>朝起きると肌が乾燥していると感じる</h2>
		</li>
		<li>
      <p class="last-q">診断が終了しました！</p>
			<div class="send">
				<a href="answer.html">結果を表示する</a>
			</div>
		</li>
	</ul>
<main>
