<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <ul class="footer-list">
            <li class="footer-item">
              <a href="/">トップページ</a>
            </li>
            <li class="footer-item">
              <a href="/privacy_policy">プライバシーポリシー</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4">
          <ul class="footer-list">
            <li class="footer-item">
              <a href="/reviews">みんなのレビュー一覧</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4">
          <ul class="footer-list">
            <li class="footer-item">
              <a href="/reviews/new">新規レビュー投稿</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="site">Skinual</div>
        </div>
        <div class="col-md-12 copyright">
          <p>Copyright © Skinual Co.Ltd . All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>